<div class="featured_collection-wrapper clearfix">
  <div class="wrapper">
    <h2 class="header">{{ settings.section_featured_categories_header }}</h2>

    <div class="featured__collection-container clearfix">

      {% comment %}
        Show five collections, unless it's 'frontpage'.

        Use an index variable in combination to the limit filter
        to account for the frontpage collection being in top six returned.

        Use variable isEmpty to check if no collections will be shown.
        For empty store demo only.
      {% endcomment %}
      
      {% assign index = 1 %}
      {% assign isEmpty = true %}

      {% assign lists = settings.section_featured_categories_list %}
      
      {% if linklists[lists].links.size > 0 %}          
        {% assign isEmpty = false %}

        {% assign collection_item_width = 'small--one-half medium-up--one-quarter large-up--one-eighth' %}
        
        <div class="grid">
        {% for link in linklists[lists].links limit: 8 %}
          {%- assign handle = link.url | split: "collections/" | last -%}
          {%- assign collection = collections[handle] -%}

          <div class="grid__item {{ collection_item_width }}">
            <div class="featured__single-collection">
              <div class="featured__single-collection-wrapper">
                {% comment %}
                  Use capture to put the collection title in a variable that is used in liquid filters
                {% endcomment %}
                {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

                <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}" class="grid__image">
                  {% if collection.image %}
                    <div class="feature__collection-image" style="background-image: url({{ collection.image.src | img_url: 'medium' }})"></div>
                  {% else %}
                    <div class="feature__collection-image" style="background-image: url({{ collection.products.first.featured_image | img_url: 'medium' }})"></div>
                  {% endif %}
                </a>

                <p class="featured__collection-title" data-mh="mh-featured-collection-info">
                  <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ collection.title }}</a>
                </p>
              </div>
            </div>
          </div>
          {% assign index = index | plus: 1 %}
        {% endfor %}
        </div>

      {% else %}
        
        {% comment %}
          For onboarding new users to your theme, we add some default collections and onboarding tutorials to help populate their store
        {% endcomment %}

        {% unless emptyState %}
          {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
          {% assign emptyState = true %}
        {% endunless %}

        {% include 'onboarding-featured-collections' %}
      
      {% endif %}
    </div>
  </div>
</div>