
<!-- Store Logo -->
{% if collection.image %}
  <div class="collection-logo-wrapper text-center">
    <a href="{{ collection.url }}">
      {{ collection.image | img_url: 'large' | img_tag: collection.title, 'collection-image' }}
      <h1 class="section-header__title">Store</h1>
    </a>
  </div>
{% endif %}

{% assign handle = collection.handle %}
{% capture handle-gifts %}{{ collection.handle }}-gifts{% endcapture %}

<ul class="filter-menu">
  <li>
    <a href="{{ collection.url }}">All</a>
  </li>
  {% if linklists.[handle].links != blank %}
    {% for link in linklists.[handle].links %}
      {% assign child_list_handle = link.title | handleize %}

      {% if linklists[child_list_handle].links != blank %}
        <li class="has-sub-filter">
          {% if link.title contains collection.title %}
            {% assign item_title = link.title | stripe | split: collection.title %}
            {% assign sub_link = item_title[1] | handleize %}
            {{ item_title[1] | link_to_tag : sub_link }}
          {% else %}
            {% assign sub_link = link.title | handleize %}
            {{ link.title | link_to_tag : link.title }}
          {% endif %}

          <ul class="">
            {% for childlink in linklists[child_list_handle].links %}
              <li class="">
                <a href="{{ collection.url }}/{% if sub_link %}{{ sub_link }}+{% endif %}{{ childlink.title | handleize }}" title="Show products matching tag {{ childlink.title }}">{{ childlink.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="">
          {{ link.title | link_to_tag : link.title }}
        </li>
      {% endif %}
    {% endfor %}
  {% else %}
    <li class="">
      <a href="{{ collection.url | append: '/new-arrivals' }}" title="Show products matching tag New Arrivals">New Arrivals</a>
    </li>
    <li class="">
      <a href="{{ collection.url | append: '/women' }}" title="Show products matching tag Women">Women</a>
    </li>
    <li class="">
      <a href="{{ collection.url | append: '/men' }}" title="Show products matching tag Men">Men</a>
    </li>
    <li class="">
      <a href="{{ collection.url | append: '/housewares' }}" title="Show products matching tag Housewares">Housewares</a>
    </li>
    <li class="has-sub-filter">
      <a href="{{ collection.url | append: '/gifts' }}" title="Show products matching tag gifts">Gifts</a>
      <ul class="">
        <li class="">
          <a href="{{ collection.url | append: '/gifts+for-her' }}" title="Show products matching tag For Her">For Her</a>
        </li>
        <li class="">
          <a href="{{ collection.url | append: '/gifts+for-him' }}" title="Show products matching tag For Him">For Him</a>
        </li>
        <li class="">
          <a href="{{ collection.url | append: '/gifts+for-kids' }}" title="Show products matching tag For Kids">For Kids</a>
        </li>
        <li class="">
          <a href="{{ collection.url | append: '/gifts+under-20' }}" title="Show products matching tag Under $20">Under $20</a>
        </li>
        <li class="">
          <a href="{{ collection.url | append: '/gifts+20-50' }}" title="Show products matching tag $20 - $50">$20 - $50</a>
        </li>
        <li class="">
          <a href="{{ collection.url | append: '/gifts+50-100' }}" title="Show products matching tag $50 - $100">$50 - $100</a>
        </li>
        <li class="">
          <a href="{{ collection.url | append: '/gifts+100-and-up' }}" title="Show products matching tag $100 and up">$100 and up</a>
        </li>
      </ul>
    </li>
    <li class="">
      <a href="{{ collection.url | append: '/sale' }}" title="Show products matching tag Sale">Sale</a>
    </li>
  {% endif %}
</ul>