<!-- Header -->
<header class="site-header" role="banner">
  <div class="wrapper first-wrapper">

    <div class="grid--full grid--table">
      <div class="grid__item large-up--one-twelfth site__header-logo">
        {% comment %}
          Use the uploaded logo from theme settings if enabled.
          Site name gets precedence with H1 tag on homepage, div on other pages.
        {% endcomment %}
        {% if template == 'index' %}
          <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h1 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
        {% endif %}

          {% if settings.logo_use_image %}
            <a href="/" itemprop="url" class="site-header__logo-link">
              <img src="{{ 'logo.png' | asset_img_url:'240x' }}" alt="{{ shop.name }}" itemprop="logo">
            </a>
          {% else %}
            <a href="/" itemprop="url">{{ shop.name }}</a>
          {% endif %}

        {% if template == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>

      <div class="grid__item large-up--four-twelfths medium-down--hide header__search-wrapper">
        <div class="site-header__search">
          {% include 'search-bar' %}
        </div>
      </div>
      <div class="grid__item large-up--seven-twelfths medium-down--hide site__header-nav">
        <div class="site-header__link">
          <a href="/pages/sell-with-us">Sell With Us</a>
        </div>
        <div class="site-header__link link-contact-us">
          <a href="/pages/contact-us">Contact Us</a>
        </div>

        {% comment %}
          If customer accounts are enabled, provide login and create account links
        {% endcomment %}
        {% if shop.customer_accounts_enabled %}
          <div class="site-header__link link-account">
            {% if customer %}
              {% if customer.first_name != blank %}
                {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
              {% else %}
                <a href="/account">{{ 'layout.customer.account' | t }}</a>
              {% endif %}
              {{ 'layout.customer.log_out' | t | customer_logout_link }}
            {% else %}
              {{ 'layout.customer.sign_in' | t | customer_login_link }}
            {% endif %}
          </div>
        {% endif %}

        <div class="site-header__cart site-header__link">
          <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
            {% include 'icon-cart' %}
            <span id="CartCount">{{ cart.item_count }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  {% include 'nav-bar' %}
  
</header>
<!-- /Header -->