{% assign array_key = "|$big_array$|" | downcase %}
{% assign menu_data = settings.megamenu_list_1 | downcase | handle %}
{% assign value = settings.megamenu_list_2 | downcase | handle %}
{% assign menu_data = menu_data | append: array_key | append: value %}
{% assign value = settings.megamenu_list_3 | downcase | handle %}
{% assign menu_data = menu_data | append: array_key | append: value %}
{% assign value = settings.megamenu_list_4 | downcase | handle %}
{% assign menu_data = menu_data | append: array_key | append: value %}
{% assign value = settings.megamenu_list_5 | downcase | handle %}
{% assign menu_data = menu_data | append: array_key | append: value %}

<nav class="navbar {{ class }}">
  <div class="responsive-menu mainMenu clearfix">

    <ul class="nav navbar-nav">
      <li class="dl-close"></li>
      
      {% for link in linklists[settings.main_menu_selected].links %}

        {% assign submenu_type = "" %}
        {% assign page_handle = "" %}
        
        {% capture return %}{% include "get_linklist_dropdown", customlink: link %}{% endcapture %}
        {% assign return = return | split: "%%" %}
        {% assign has_drop_down = return | first | strip %}
        {% assign child_list_handle = return | last | strip %}

        {% comment %} Check submenu type {% endcomment %}
        {% assign title = child_list_handle %}

        {% if menu_data contains title %}
          {% assign current_menu_data = menu_data | split: array_key %}
          
          {% for data in current_menu_data %}
            {% if data == title %}
              {% assign current_menu_data = title %}
              {% assign submenu_type = "type2" %}
              {% assign count_type2 = forloop.index %}
             
              {% break %}
            
            {% endif %}
          {% endfor %}
        {% endif %}
        

        {% comment %} Check selected mein menu item {% endcomment %}
        {% assign select_item = false %}
        {% if link.active %}
          {% assign select_item = true %}
        {% endif %}


        {% unless select_item %}
          {% assign level_2 = linklists[link.handle] %}
          
          {% unless level_2.empty? %}
            {% for child_level_2 in level_2.links %}
              {% if child_level_2.active or select_item %}
                {% assign select_item = true %}
                {% break %}
              {% else %}
                {% assign level_3 = linklists[child_level_2.handle] %}
                {% unless level_3.empty? %}
                  {% for child_level_3 in level_3.links %}
                    {% if child_level_3.active %}
                      {% assign select_item = true %}
                      {% break %}
                    {% endif %}
                  {% endfor %}
                {% endunless %}
              {% endif %}
            {% endfor %}
          {% endunless %}

        {% endunless %}

        
        {% comment %} Main Menu {% endcomment %}
        {% assign level_2 = linklists[child_list_handle] %}
        <li class="dropdown dropdown-mega-menu{% if submenu_type != "type2" and submenu_type != "type3" %}{% if level_2.links[0].handle contains "two_column" or level_2.links[0].handle contains "three_column" %} dropdown-two-col{% else %} dropdown-one-col{% endif %}{% endif %} {% if select_item %}selected{% endif %}">
          <a href="{{ link.url }}" class="dropdown-toggle" {% unless level_2.empty? %}data-toggle="dropdown" {% endunless %}><span class="act-underline">
            {{ link.title }}</span>
          </a>
          
          {% if submenu_type != "type2" %}
            {% unless level_2.empty? %}
              <ul class="dropdown-menu multicolumn {% if level_2.links[0].handle contains "two_column" %}two-col{% elsif level_2.links[0].handle contains "three_column" %}three-col{% endif %}" role="menu">
                <li class="dl-back"><a href="#"><span class="icon icon-chevron_left"></span>{{ "general.menu.button_back" | t }}</a></li>
                {% capture start %}{% if level_2.links[0].handle contains "two_column" or level_2.links[0].handle contains "three_column" %}1{% else %}0{% endif %}{% endcapture %}
                {% for child_level_2 in level_2.links offset: start %}
                  <li>
                    <a href="{{ child_level_2.url | downcase }}">{{ child_level_2.title }}</a>
                    {% assign level_3 = linklists[child_level_2.handle] %}
                    {% unless level_3.empty? %}
                    <ul class="megamenu__submenu">
                      {% for child_level_3 in level_3.links %}
                      <li><a href="{{ child_level_3.url | downcase }}">{{ child_level_3.title }}</a>
                        {% assign level_4 = linklists[child_level_3.handle] %}
                        {% unless level_4.empty? %}
                          <ul><!--  class="popup-left" -->
                            {% for child_level_4 in level_4.links %}
                            <li><a href="{{ child_level_4.url | downcase }}">{{ child_level_4.title }}</a></li>
                          {% endfor %}
                          </ul>
                        {% endunless %}
                      </li>
                      {% endfor %}
                    </ul>
                    {% endunless %}
                  </li>
                {% endfor %}
              </ul>
            {% endunless %}
          {% endif %}
        
          {% if submenu_type == "type2" %}{% unless level_2.empty? %}{% if has_drop_down == "true" %}
          <ul class="dropdown-menu megamenu tabbed" role="menu">
            {% assign imgs_key = "submenu_images_" | append: count_type2 %}
            {% assign imgs = settings[imgs_key] %}
            {% if imgs != "" %}{% assign imgs = imgs | split: ',' %}{% endif %}
            
            {% assign grid = "submenu_type_and_list_grid_" | append: count_type2 %}
            {% assign grid = settings[grid] %}
            
            {% for child_level_2 in level_2.links %}
            <!-- Megamenu Tab list -->

              {% comment %} Get Tab items' order with count_sub_type2 {% endcomment %}

              {% assign count_sub_type2 = '' %}
              {% for i in (0..8) %}
                {% capture key_tab %}megamenu_list_{{ count_type2 }}_childmenu_{{ forloop.index }}{% endcapture %}
                {% assign tab_handle = child_level_2.title | handle %}
                
                {% if tab_handle == settings[key_tab] %}
                  {% assign count_sub_type2 = forloop.index %}
                  {% break %}
                {% endif %}
              {% endfor %}

            {% capture key_grid %}megamenu_list_{{ count_type2 }}_childmenu_{{ count_sub_type2 }}_grid{% endcapture %}
            {% capture key_imgs %}megamenu_list_{{ count_type2 }}_childmenu_{{ count_sub_type2 }}_images{% endcapture %}
            {% capture key_SFC %}megamenu_list_{{ count_type2 }}_childmenu_{{ count_sub_type2 }}_SFC{% endcapture %}
            {% capture key_FCT %}megamenu_list_{{ count_type2 }}_childmenu_{{ count_sub_type2 }}_FCT{% endcapture %}
            {% capture key_FC %}megamenu_list_{{ count_type2 }}_childmenu_{{ count_sub_type2 }}_FC{% endcapture %}
            {% capture key_FCL %}megamenu_list_{{ count_type2 }}_childmenu_{{ count_sub_type2 }}_FCL{% endcapture %}

            <li class="megamenu__main_cat {% if forloop.index == 1 %}tab-opened{% endif %}">
              <a href="javascript:void(0)" class="megamenu__subheader">
              <!-- <a href="{{ child_level_2.url | downcase }}" class="megamenu__subheader"> -->
                <span>{{ child_level_2.title }}</span>
                <i class="fa fa-angle-right"></i>
              </a>
              <div class="mega__cat_splitbar"></div>
              <!-- Should always show the wrapper in order to show the border-left of the tab panel  -->
              <div class="megamenu__submenu">
                <ul class="col-sm-{{ settings[key_grid] | default: '4'}} ">
                {% if linklists[child_level_2.handle].links != blank %}
                  {% for child_level_3 in linklists[child_level_2.handle].links %}
                  <!-- Todo -->
                    <li class="col">
                      <a href="{{ child_level_3.url | downcase }}" class="megamenu__subtitle">
                        <span>{{ child_level_3.title }}</span>
                        {% if imgs != "" %}{% if imgs[forloop.index0] != "" %}
                        <span class="megamenu__category-image hidden-xs"><img class="img-responsive" src="{{ imgs[forloop.index0] | strip }}" alt=""/></span>
                        {% endif %}{% endif %}
                      </a>

                      {% if linklists[child_level_3.handle].links != blank %}
                        <ul class="">
                        {% for child_level_4 in linklists[child_level_3.handle].links %}
                          <li>
                            <a href="{{ child_level_4.url | downcase }}" class="megamenu__subsubtitle">
                              <span>{{ child_level_4.title }}</span>
                              {% if imgs != "" %}{% if imgs[forloop.index0] != "" %}
                              <span class="megamenu__category-image hidden-xs"><img class="img-responsive" src="{{ imgs[forloop.index0] | strip }}" alt=""/></span>
                              {% endif %}{% endif %}
                            </a>
                          </li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}

                  
                {% endif %}
                </ul>

                <ul class="col-sm-{{ settings[key_grid] | default: '4'}} ">
                  {% if settings[key_imgs] != blank %}
                    <li class="col hidden-xs">
                      <a href="#" class="megamenu__subtitle hide">
                      </a>
                      <img src="{{ settings[key_imgs] }}" alt="Custom Image for Category">
                    </li>
                  {% else %}

                    {% if settings[key_SFC] %}
                      {% assign titleLink = "submenu_collectiontitlelink_" | append: count_type2 %}
                      <li class="col hidden-xs">
                        <a href="#" class="megamenu__subtitle"><span>{{ settings[key_FCT] }}</span></a>
                        
                        {% assign key = settings[key_FC] %}
                        {% if key == blank %}{% assign key = "all" %}{% endif %}
                        {% assign selected_collection = collections[key].products %}

                        {% assign _lenght = settings[key_FCL] | plus: 0 %}

                        <div class="carousel-products megaMenuCarousel_js">
                          {% for product in selected_collection limit: _lenght %}
                          <div>
                            <!-- product -->
                            <div class="product">
                              <div class="product__inside">
                                <!-- product image -->
                                <div class="product__inside__image">
                                  <a href="{{ product.url | within: collection }}"> <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}"> </a>
                                </div>
                                <!-- /product image --> 
                                <!-- product name -->
                                <div class="product__inside__name">
                                  <h2><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h2>
                                </div>
                                <!-- /product name --> 
                                <!-- product price -->
                                <div class="product__inside__price price-box">{{ product.selected_or_first_available_variant.price | money }}</div>
                                <!-- /product price --> 
                              </div>
                            </div>
                            <!-- /product -->
                          </div>
                          {% endfor %}
                        </div>
                        <!-- /carousel -->
                        
                      </li>
                    {% endif %}
                  {% endif %}
                </ul>

              </div>

            </li>

            {% endfor %}
            
          </ul>
          {% endif %}{% endunless %}{% endif %}

        </li>
      {% endfor %}
    </ul>
    
  </div>
</nav>