<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% if settings.use_slider %}
  {% include 'home-slider' %}
{% endif %}

{% if settings.use_featured_newest_products %}
  {% include 'featured-newest-products'%}
{% endif %}

{% if settings.use_featured_collections %}
  {% include 'featured-collections'%}
{% endif %}

{% if settings.use_featured_products %}
  {% include 'featured-products' %}
{% endif %}

<div id="insta-feed"></div>

<div class="site__service-wrapper clearfix">
  <div class="wrapper">
    <h2>Shop with 99 Mainstreet</h2>
    <div class="site__service-info clearfix">
      <div class="site__service-content hvr-icon-buzz-out">
        <h3>Fast</h3>
        <div class="icon">{% include 'icon-fast-shipping' %}</div>
        <p>Every order ships within 24 hours.</p>
      </div>
      <div class="site__service-content hvr-icon-pulse-grow">
        <h3>Fun</h3>
        <div class="icon">{% include 'icon-heart' %}</div>
        <p>Find what you need while supporting local businesses.</p>
      </div>
      <div class="site__service-content hvr-icon-bounce">
        <h3>Secure</h3>
        <div class="icon">{% include 'icon-secure' %}</div>
        <p>100% Safe and Secure Payments. We use the best technology to protect your transactions.</p>
      </div>
    </div>
    <div class="site__service-signup">
      <a href="/collections">Browse Our Stores
        {% include 'icon-arrow-right' %}
      </a>
    </div>
  </div>
</div>

<section class="section-new-stores">
  <div class="wrapper">
    <h2>{{ settings.section_new_stores_header }}</h2>
    <div class="grid">
      {% for i in (1..2) %}
        {% capture img %}section_new_stores_img_{{i}}{% endcapture %}
        {% capture title %}section_new_stores_title_{{i}}{% endcapture %}
        {% capture desc %}section_new_stores_desc_{{i}}{% endcapture %}
        {% capture link %}section_new_stores_link_{{i}}{% endcapture %}
        {% capture btn_text %}section_new_stores_btn_text_{{i}}{% endcapture %}

        <div class="grid__item medium-up--one-half">
          <div class="details">
            {{ settings[img] | img_url: '350x' | img_tag }}
            <div class="info">
              <p class="title">{{ settings[title] }}</p>
              <span class="desc">{{ settings[desc] }}</span>
              <a href="{{ settings[link] }}" class="btn">{{ settings[btn_text] }}</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="contact-us-banner">
  <div class="wrapper">
    <h2>Have products to sell?</h2>
    <a class="btn">Contact Us</a>
  </div>
</div>