<!-- /templates/page.brochure3.liquid -->
<div class="page-brochure3">

  <nav class="page__nav-bar">
    <div class="wrapper">
      <ul class="page__nav-list">
        <li><a data-id="#collection__products">Shop</a></li>
        <li><a data-id="#section_about">About</a></li>
        <li><a data-id="#section_polices">Policies</a></li>
      </ul>
    </div>
  </nav>

  <div class="hero">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item prelarge--two-thirds push--prelarge--one-sixth">
          <div class="content-wrapper">
            <h2>The all-in-one</h2>
            <h1>Solution <s>for your</s> Business</h1>
            <div class="community-form form-vertical">
              {% form 'contact' %}
                {% comment %}
                  Successful message
                {% endcomment %}
                {% if form.posted_successfully? %}
                  <p class="note form-success">
                    {{ 'contact.form.post_success' | t }}
                  </p>
                {% endif %}

                {{ form.errors | default_errors }}

                {% assign name_attr = 'contact.form.name' | t | handle %}
                <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
                <input type="text" id="ContactFormName" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">

                <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
                <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

                {% assign name_attr = 'contact.form.phone' | t | handle %}
                <label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
                <input type="tel" id="ContactFormPhone" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

                <input type="submit" class="btn right" value="Start Today">

              {% endform %}
            </div>
            <p>Join our expanding community.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <section class="services-wrapper">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item prelarge--two-thirds push--prelarge--one-sixth">
          <div class="title-wrapper">
            <h2>Services that expotentially enables business growth</h2>
            <p>Realize your potential</p>
          </div>

          <div class="service service-1">
            <div class="content">
              {{ 'brochure-img.jpg' | asset_img_url:'150x' | img_tag }}
              <h2>Service 1</h2>
              <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</p>
            </div>
          </div>

          <div class="service service-2">
            <div class="content">
              {{ 'brochure-img.jpg' | asset_img_url:'150x' | img_tag }}
              <h2>Service 1</h2>
              <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</p>
            </div>
          </div>

          <div class="service service-3">
            <div class="content">
              {{ 'brochure-img.jpg' | asset_img_url:'150x' | img_tag }}
              <h2>Service 1</h2>
              <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="social-wrapper">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item prelarge--two-thirds push--prelarge--one-sixth">
          <div class="content-wrapper">
            <h2>We provide services so you can succeed</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
            vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo
            lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend
            tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.
            Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.
            Aenean velit odio,</p>
          </div>
          <div class="social-connects">
            <h2>Lets connect</h2>
            <div class="social-icon-wrapper">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-pinterest-p"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  -->

  <div class="wrapper">
    <div id="section_polices">
      <div class="wrapper">
        <div class="section_polices-wrapper">
          <div class="section_polices-title">
            <h3>Policies</h3>
          </div>
          <div class="section_polices-content">
            {% unless shop.enabled_payment_types == empty %}
              {% assign payment_icons_available = 'amazon_payments,american_express,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' %}
              <strong>Accepted Payment Methods</strong>
              <ul class="inline-list payment-icons">
                {% for type in shop.enabled_payment_types %}
                  {% if payment_icons_available contains type %}
                    <li>
                      <span class="icon-fallback-text">
                        <span class="icon icon-{{type}}" aria-hidden="true"></span>
                        <span class="fallback-text">{{ type | replace: '_',' '}}</span>
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endunless %}
          <strong>Returns</strong>
          <p>
            You may return most new, unopened items within 30 days of delivery for a full refund. We'll also pay the return shipping costs if the return is a result of our error (you received an incorrect or defective item, etc.).<br><br>
            You should expect to receive your refund within four weeks of giving your package to the return shipper, however, in many cases you will receive a refund more quickly. This time period includes the transit time for us to receive your return from the shipper (5 to 10 business days), the time it takes us to process your return once we receive it (3 to 5 business days), and the time it takes your bank to process our refund request (5 to 10 business days).<br><br>
            If you need to return an item, please contact us with your order number and details about the product you would like to return. We will respond quickly with instructions for how to return items from your order.
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
